main{
    display: flex;
    flex-direction: column;
    width: calc(100% - 270px);
    height: 100%;
    min-height: calc(100vh- 55px);
    margin-left: 270px;
    transition: all 300ms ease;
}

main.active-mobile {
    width: calc(100% - 55px);
    margin-left: 55px;
    transition: all 300ms ease;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1rem;
    flex-direction: column;
    /* gap: 2rem; */
    justify-content: space-between;
}

.cadProduto {
    width: 170px;
    height: 40px;
    text-align: center;
    padding: 0.5rem;
    background: #007bff;
    justify-content: center;
    color: white;
    border-radius: 5px;
}

.cadProduto:hover {
    background-color: #2e8ef6fa;
}

/* RESPONSIVO */

@media only screen and (max-width: 1400px) {

    main {
        width: 100%;
        margin-left: 0;
    }

    main.active-mobile{
        width: calc(100% - 270px);
        margin-left: 270px;
    }
}
