* {
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex, .flex-c, .flex-cr, .flex-r, .flex-w, .flex-jb, .flex-jc, .flex-js, .flex-je, .flex-as, .flex-ac, .flex-ae, .flex-ja, .flex-ab{
    display: flex;
  }
  .flex-c{flex-direction: column;}
  .flex-cr{flex-direction: column-reverse;}
  .flex-r{flex-direction: row;}
  .flex-w{flex-wrap: wrap;}
  .flex-jb{justify-content: space-between;}
  .flex-ja{justify-content: space-around;}
  .flex-jc{justify-content: center;}
  .flex-js{justify-content: flex-start;}
  .flex-je{justify-content: flex-end;}
  .flex-as{align-items: flex-start;}
  .flex-ac{align-items: center;}
  .flex-ae{align-items: flex-end;}
  .flex-ab{align-items: baseline;}
  
  .text-c{text-align: center;}
  .text-r{text-align: right;}
  .text-l{text-align: left;}
  .text-j{text-align: justify;}
  
  .m-0{margin: 0rem;}
  .m-0-important{margin: 0rem !important;}
  .m-025{margin: .25rem;}
  .m-05{margin: .5rem;}
  .m-1{margin: 1rem;}
  .m-2{margin: 2rem;}
  .m-3{margin: 3rem;}
  .m-4{margin: 4rem;}
  .m-5{margin: 5rem;}
  
  .mt-0{margin-top: 0rem;}
  .mt-025{margin-top: .25rem;}
  .mt-05{margin-top: .5rem;}
  .mt-1{margin-top: 1rem;}
  .mt-2{margin-top: 2rem;}
  .mt-3{margin-top: 3rem;}
  .mt-4{margin-top: 4rem;}
  .mt-5{margin-top: 5rem;}
  .mt-6{margin-top: 6rem;}
  .mt-7{margin-top: 7rem;}
  
  .mr-0{margin-right: 0rem;}
  .mr-05{margin-right: .5rem;}
  .mr-06{margin-right: 0.6rem;}
  .mr-1{margin-right: 1rem;}
  .mr-2{margin-right: 2rem;}
  .mr-3{margin-right: 3rem;}
  .mr-4{margin-right: 4rem;}
  .mr-5{margin-right: 5rem;}
  
  .mb-0{margin-bottom: 0rem;}
  .mb-025{margin-bottom: .25rem;}
  .mb-05{margin-bottom: .5rem;}
  .mb-1{margin-bottom: 1rem;}
  .mb-2{margin-bottom: 2rem;}
  .mb-3{margin-bottom: 3rem;}
  .mb-4{margin-bottom: 4rem;}
  .mb-5{margin-bottom: 5rem;}
  .mb-6{margin-bottom: 6rem;}
  
  .ml-0{margin-left: 0rem;}
  .ml-05{margin-left: .5rem;}
  .ml-1{margin-left: 1rem;}
  .ml-2{margin-left: 2rem;}
  .ml-3{margin-left: 3rem;}
  .ml-4{margin-left: 4rem;}
  .ml-5{margin-left: 5rem;}
  
  .mt-auto{margin-top: auto;}
  
  .p-0-important{padding: 0rem !important;}
  .p-025{padding: .25rem;}
  .p-0{padding: 0rem;}
  .p-05{padding: .5rem;}
  .p-1{padding: 1rem;}
  .p-2{padding: 2rem;}
  .p-3{padding: 3rem;}
  .p-4{padding: 4rem;}
  .p-5{padding: 5rem;}
  .p-6{padding: 6rem;}
  
  .pt-0-important{padding-top: 0rem !important;}
  .pt-0{padding-top: 0rem;}
  .pt-05{padding-top: .5rem;}
  .pt-1{padding-top: 1rem;}
  .pt-2{padding-top: 2rem;}
  .pt-3{padding-top: 3rem;}
  .pt-4{padding-top: 4rem;}
  .pt-5{padding-top: 5rem;}
  .pt-6{padding-top: 6rem;}
  
  .pr-0{padding-right: 0rem;}
  .pr-02{padding-right: .2rem;}
  .pr-05{padding-right: .5rem;}
  .pr-1{padding-right: 1rem;}
  .pr-2{padding-right: 2rem;}
  .pr-2-important{padding-right: 2rem !important;}
  .pr-3{padding-right: 3rem;}
  .pr-4{padding-right: 4rem;}
  .pr-5{padding-right: 5rem;}
  
  .pb-0-important{padding-bottom: 0rem !important;}
  .pb-0{padding-bottom: 0rem;}
  .pb-05{padding-bottom: .5rem;}
  .pb-1{padding-bottom: 1rem;}
  .pb-2{padding-bottom: 2rem;}
  .pb-3{padding-bottom: 3rem;}
  .pb-4{padding-bottom: 4rem;}
  .pb-5{padding-bottom: 5rem;}
  .pb-6{padding-bottom: 6rem;}
  
  .pl-0{padding-left: 0rem;}
  .pl-02{padding-left: .2rem;}
  .pl-05{padding-left: .5rem;}
  .pl-1{padding-left: 1rem;}
  .pl-15{padding-left: 1.5rem;}
  .pl-2{padding-left: 2rem;}
  .pl-3{padding-left: 3rem;}
  .pl-4{padding-left: 4rem;}
  .pl-5{padding-left: 5rem;}

.body-card, .body-chart {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

.card{
    background-color: white;
    display: flex;
    width: 100%;
    height: 190px;
    box-shadow: 2px 2px 3px #cccccc8a;
    border-radius: 5px;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-between;
}

.chart-card {
    background-color: white;
    display: flex;
    width: 100%;
    min-height: 500px;
    box-shadow: 2px 2px 3px #cccccc8a;
    border-radius: 5px; 
    padding: 1.5rem;
    flex-direction: column;
    flex: 1;

    min-width: 540px;
    min-height: 532px;
    height: auto;
    transition: all 300ms ease;
}

h1{
    font-weight: 400;
    font-size: 28px;
}

h2{
    font-weight: 400;
}

h4{
    font-weight: 400;
    font-size: 18px;
}

.parent-charts{
    margin-top: auto;
    height: 380px;
    width: 100%;
}

.d-none{
    display: none;
}

.aumentaIcone {
    font-size: 30px;
    color: #c2c7d0;
}

.aumentaIcone:hover {
    font-size: 30px;
    color: #c2c7d0;
    transform: scale(1.3);
}

.card-catalogo{
    width: 100%;
    height: 822px;
    border: 1px solid black;
    overflow: hidden;
}

.listagem-catalogo {
    display: flex;
    width: 100%;
    height: 45px;
    padding: 1rem;
}

.botao {
    background: #007bffc2;
    color: white;
    width: 160px;
    height: 35px;
    border-radius: 5px;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
    box-shadow: 3px 4px 8px 0px #0000000f;
}

.botao:hover{
    background-color: blue;
    cursor: pointer;
    box-shadow: 3px 4px 8px 0px #0000000f;
}

.botao2, .botao3 {
    background: #007bffc2;
    color: white;
    width: 160px;
    height: 35px;
    border-radius: 5px;
    text-align: center;
    padding: 0.4rem;
    cursor: pointer;
    box-shadow: 3px 4px 8px 0px #0000003d;
}

.botao2:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
    box-shadow: 3px 4px 8px 0px #0000003d;
}

.botao3 {
    background: white;
    color: black;
}

.botao3:hover{
    background-color: #f0f0f0;
    color: black;
    cursor: pointer;
    box-shadow: 3px 4px 8px 0px #0000003d;
}

.body-card-complemento {
    background: #010101;
    width: 350px;
    height: 651px;
    border-right: 1px solid #000000;
    box-shadow: 3px 2px 4px 0px #0000001f;
    border-radius: 5px;
    /* padding: 1rem; */
}

.body-card-complemento-cliente {
    background: #227175;
    width: 350px;
    height: 551px;
    border-right: 1px solid #b1b7b7;
    box-shadow: 0px 0px 6px 4px #0000001c;
    border-radius: 5px;
    /* padding: 1rem; */
}

.body-card-principal {
    background: white;
    width: 790px;
    height: 270px;
    box-shadow: 3px 2px 4px 0px #0000001f;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    border-bottom: 3px solid black;
    border-radius: 5px;
}

.body-card-principal-cliente {
    background: white;
    width: 800px;
    height: 550px;
    box-shadow: 0px 0px 6px 4px #0000001c;;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.inputPadrao {
    background-color: #c8cacd2b;
    width: 600px;
    height: 40px;
    padding: 0.5rem 2.5rem 0.5rem 2.5rem;
    border-radius: 3px;
    border: 1px solid #cccccc17;

}
.inputPadrao2 {
    background-color: #c8cacd2b;
    width: 300px;
    height: 40px;
    padding: 0.5rem 2.5rem 0.5rem 2.5rem;
    border-radius: 3px;
    border: 1px solid #cccccc17;
}

.error{
    color: white;
    background-color: red;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
}

.iconeInput {
    position: relative;
    left: 30px;
    color: #00000061;
}

.iconeInputRight{
    position: relative;
    right: 23px;
    color: #00000061;
    cursor: pointer;
}

.body-card-imgprodutos {
    background: white;
    width: 1595px;
    height: 300px;
    box-shadow: 3px 2px 4px 0px #0000001f;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    border-bottom: 3px solid black;
    border-radius: 5px;
    margin-top: 1rem;
}

.body-imgprodutos{
    width: 150px;
    height: 160px;
    background-size: cover;
    margin-bottom: 10px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
    color: #848ea1;
    margin-right: 1rem;
    overflow: hidden;
    border-radius: 4px;
    position: revert;
}

.upload-img{
    border: 2px dashed #0095ff;
    border-radius: 4px;
    padding: 1rem;
    height: 160px;
    width: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 11px;
    flex-direction: column;
    color: #0095ff;
    position: relative;
    transition: .3s all;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.iconeTrash {
    position: relative;
    left: 150px;
    top: 15px;
    cursor: pointer;
    color: #00000061;
    height: 21px;
    width: 19px;
    /* background: black; */
    padding: 0.2rem;
    border-radius: 50%;
}

.iconeTrash:hover{
    background-color: white;
    cursor: pointer;
}

#image {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    -webkit-appearance: none;
    opacity: 0;
    cursor: pointer;
}
