/* ---------- LOGIN ---------- */

.fundoazul {
  height: 100%;
  min-height: 100vh;
  width: 100%;
}

.fundoclaro {
  background: #a29eb473;
  height: 100%;
  min-height: 100vh;
  width: 100%;
}

#login form {
  width: 250px;
  margin-right: 2rem;
}
#login, .logo {
  display:inline-block;
}
#login {
  border-right:1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  color:#fff;
  font-size:50px;
  line-height: 125px;
  border-left: 1px solid #FFF;
  display: flex;
  align-items: center;
  padding: 2rem;
}

.logo img{
  height: 200px;
  width: 200px;
  border-radius: 114px;
}

#login form span.fa {
  background-color: #dfd9fd;
  border-radius: 3px 0px 0px 3px;
  color: #00000061;
  display: block;
  float: left;
  height: 50px;
  font-size:20px;
  line-height: 50px;
  text-align: center;
  width: 50px;
  position: absolute;
}

fieldset{
  padding:0;
  border:0;
  margin: 0;
}
#login form input {
  height: 50px;
  background-color: #dfd9fd;
  border-radius: 0px 3px 3px 0px;
  color: #000;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 385px;
  padding: 0.5rem;
  padding-left: 3.5rem;
  border-radius: 5px;
  margin-right: 8rem;
}

.button {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #000000;
  color: #eee;
  font-weight: bold;
  /* margin-bottom: 2em; */
  text-transform: uppercase;
  padding: 5px 9px;
}

.button:hover {
  background-color: red;
  color: #000;
  transition: 300ms;
}

#login > p {
  text-align: center;
}

#login > p span {
  padding-left: 5px;
}
.middle {
  display: flex;
  width: 600px;
}

.error{
  color: white;
  background-color: red;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 5px;
}

.error-login{
  color: white;
  background-color: red;
  width: 75%;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 5px;
}

/* Tela de cadastro */

#cadastro form {
  background-color: white;
  padding: 2rem;
  border-radius: 7px;
}

h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: black
}

.form-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.form-input input {
  width: 225px;
  height: 40px;
  border: 1.5px solid #000;
  border-radius: 7px;
  padding: 0.3rem 0.3rem 0.5rem 0.5rem;
  margin-left: 1rem;
}

.form-input label {
  font-size: 17px;
  color: black;
  margin-left: 0.5rem;
}

.direcionamento {
  color: black;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  text-decoration:none;
  outline: 0;
  list-style:none;
  /* color: #5d5d5d; */
  color: inherit;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex, .flex-c, .flex-cr, .flex-r, .flex-w, .flex-jb, .flex-jc, .flex-js, .flex-je, .flex-as, .flex-ac, .flex-ae, .flex-ja, .flex-ab{
  display: flex;
}
.flex-c{flex-direction: column;}
.flex-cr{flex-direction: column-reverse;}
.flex-r{flex-direction: row;}
.flex-w{flex-wrap: wrap;}
.flex-jb{justify-content: space-between;}
.flex-ja{justify-content: space-around;}
.flex-jc{justify-content: center;}
.flex-js{justify-content: flex-start;}
.flex-je{justify-content: flex-end;}
.flex-as{align-items: flex-start;}
.flex-ac{align-items: center;}
.flex-ae{align-items: flex-end;}
.flex-ab{align-items: baseline;}

.text-c{text-align: center;}
.text-r{text-align: right;}
.text-l{text-align: left;}
.text-j{text-align: justify;}

.m-0{margin: 0rem;}
.m-0-important{margin: 0rem !important;}
.m-025{margin: .25rem;}
.m-05{margin: .5rem;}
.m-1{margin: 1rem;}
.m-2{margin: 2rem;}
.m-3{margin: 3rem;}
.m-4{margin: 4rem;}
.m-5{margin: 5rem;}

.mt-0{margin-top: 0rem;}
.mt-025{margin-top: .25rem;}
.mt-05{margin-top: .5rem;}
.mt-1{margin-top: 1rem;}
.mt-2{margin-top: 2rem;}
.mt-3{margin-top: 3rem;}
.mt-4{margin-top: 4rem;}
.mt-5{margin-top: 5rem;}
.mt-6{margin-top: 6rem;}
.mt-7{margin-top: 7rem;}

.mr-0{margin-right: 0rem;}
.mr-05{margin-right: .5rem;}
.mr-1{margin-right: 1rem;}
.mr-2{margin-right: 2rem;}
.mr-3{margin-right: 3rem;}
.mr-4{margin-right: 4rem;}
.mr-5{margin-right: 5rem;}

.mb-0{margin-bottom: 0rem;}
.mb-025{margin-bottom: .25rem;}
.mb-05{margin-bottom: .5rem;}
.mb-1{margin-bottom: 1rem;}
.mb-2{margin-bottom: 2rem;}
.mb-3{margin-bottom: 3rem;}
.mb-4{margin-bottom: 4rem;}
.mb-5{margin-bottom: 5rem;}
.mb-6{margin-bottom: 6rem;}

.ml-0{margin-left: 0rem;}
.ml-05{margin-left: .5rem;}
.ml-1{margin-left: 1rem;}
.ml-2{margin-left: 2rem;}
.ml-3{margin-left: 3rem;}
.ml-4{margin-left: 4rem;}
.ml-5{margin-left: 5rem;}

.mt-auto{margin-top: auto;}

.p-0-important{padding: 0rem !important;}
.p-025{padding: .25rem;}
.p-0{padding: 0rem;}
.p-05{padding: .5rem;}
.p-1{padding: 1rem;}
.p-2{padding: 2rem;}
.p-3{padding: 3rem;}
.p-4{padding: 4rem;}
.p-5{padding: 5rem;}
.p-6{padding: 6rem;}

.pt-0-important{padding-top: 0rem !important;}
.pt-0{padding-top: 0rem;}
.pt-05{padding-top: .5rem;}
.pt-1{padding-top: 1rem;}
.pt-2{padding-top: 2rem;}
.pt-3{padding-top: 3rem;}
.pt-4{padding-top: 4rem;}
.pt-5{padding-top: 5rem;}
.pt-6{padding-top: 6rem;}

.pr-0{padding-right: 0rem;}
.pr-02{padding-right: .2rem;}
.pr-05{padding-right: .5rem;}
.pr-1{padding-right: 1rem;}
.pr-2{padding-right: 2rem;}
.pr-2-important{padding-right: 2rem !important;}
.pr-3{padding-right: 3rem;}
.pr-4{padding-right: 4rem;}
.pr-5{padding-right: 5rem;}

.pb-0-important{padding-bottom: 0rem !important;}
.pb-0{padding-bottom: 0rem;}
.pb-05{padding-bottom: .5rem;}
.pb-1{padding-bottom: 1rem;}
.pb-2{padding-bottom: 2rem;}
.pb-3{padding-bottom: 3rem;}
.pb-4{padding-bottom: 4rem;}
.pb-5{padding-bottom: 5rem;}
.pb-6{padding-bottom: 6rem;}

.pl-0{padding-left: 0rem;}
.pl-02{padding-left: .2rem;}
.pl-05{padding-left: .5rem;}
.pl-1{padding-left: 1rem;}
.pl-15{padding-left: 1.5rem;}
.pl-2{padding-left: 2rem;}
.pl-3{padding-left: 3rem;}
.pl-4{padding-left: 4rem;}
.pl-5{padding-left: 5rem;}

.font-17 {
  font-size: 17px;
}

.white {
  color: white;
}

.black {
  color: black;
}

.blue {
  color: blue;
}

body {
  background-color: rgb(247, 244, 240);
}

.main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.main-container {
  max-width: 1322px;
}

.aside {  
  position: fixed;
  width: 20%;
  height: 785px;
  top: 162px;
  margin-left: 1px;
}

.header {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #343a40;
  box-shadow: 1px 5px 10px 0px #0000002e;
}

.head {
  width: 100%;
  height: 152px;
  display: flex;
  max-width: 1366px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.bemvindo {
  position: relative;
  right: 517px;
  bottom: 77px;
  font-size: 15px;
}

.icone-registro {
  position: relative;
  right: 524px;
  bottom: 76px;
  font-size: 30px;
}

.entre-registre {
  position: absolute;
  right: 629px;
  bottom: 23px;
  text-decoration: underline;
}

.cadastre-registre {
  position: relative;
  right: 522px;
  bottom: 79px;
  text-decoration: underline;
}

.ou {
  position: relative;
  right: 544px;
  bottom: 61px;
}

.logosite {
  max-width: 87px;
  border-radius: 5px;
  border: 2px solid white;
  display: flex;
  left: 19px;
  position: relative;
}

.buscarProduto {
  width: 375px;
  border-radius: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

.main-banner {
  max-height: 400px;
  max-width: 1366px;
  width: 100%;
  height: auto;
}

.banners {
  max-width: 100%;
  width: 100%;
  height: auto;
  max-height: 100%;
}

.banners-login{
  max-width: 347px;
  border-radius: 0.5rem;
  position: relative;
  right: 100px;
  top: 2px;
  box-shadow: 0px 0px 10px 0px #0000002e;
}

.demonstracao {
  font-size: 15px;
  margin-top: 8px;
  color: white;
}

.tela-form {
  background-color: white;
  height: 450px;
  width: 36%;
  border-radius: 10px;
  font-size: 23px;
}

.centralizar {
  justify-content: center;
  display: flex;
  align-items: center;
  position: fixed;
}

.position {
  position: absolute;
  display: flex;
}

.card-produto {
  display: flex;
  border-radius: 10px;
  background: white;
  /* padding: 1rem; */
  box-shadow: 2px 2px 19px 3px #00000014;
  width: 250px;
  height: 300px;
  border-bottom: 3px solid black;
  min-width: 15%;
  max-width: 15%;
}

.comprar {
  background-color: #343a40;
  color: white;
  width: 100%;
  height: 30px;
  margin-top: 13px;
  border-radius: 3px;
  cursor: pointer;
}

.comprar:hover, .button-cad:hover, .hover:hover, .gerencial:hover, .historico:hover {
  background-color: #0084ff;
  color: white;
}

.inputo {
  border: solid 1px black;
  border-radius: 4px;
}

.produto {
  width: 400px;
  padding: 2px 27px 2px 27px;
}

.quantidade {
  position: relative;
  left: 89px;
  width: 186px;
  padding: 2px 27px 2px 27px;
}

.precocusto {
  position: relative;
  left: 60px;
  width: 136px;
  padding: 2px 27px 2px 27px;
}

.precovenda {
  position: relative;
  left: 53px;
  width: 136px;
  padding: 2px 27px 2px 27px;
}

.precopromocao {
  position: relative;
  left: 16px;
  width: 136px;
  padding: 2px 27px 2px 27px;
}

.button-cad {
  background: #0084ff;
  min-width: 84px;
  width: 108px;
  position: relative;
  height: 33px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.voltainicio {
  position: relative;
  top: 46px;
  left: 145px;
}

.cad-inicioo {
  position: relative;
  left: 269px;
}

.corpo-produtos {
  gap: 2rem;
  margin-top: 3rem;
}

.campo-maior {
  background: white;
  display: flex;
  width: 1171px;
  height: 148px;
  margin-left: 16rem;
  margin-top: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px #00000033;
}

.info-carrinho {
  background: white;
  position: fixed;
  width: 321px;
  height: 380px;
  display: flex;
  left: 1455px;
  top: 210px;
  border-radius: 1.5rem;
  box-shadow: 0px 0px 10px #00000033;
  padding: 1rem;
}

.imgproduto-carrinho{
  width: 175px;
  border-radius: 7px;
  height: 115px;
  display: flex;
  justify-content: center;
}

.linha-horizontal {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, rgb(4, 3, 5), transparent);
}

.volta-carrinho {
  display: flex;
  position: absolute;
  left: 1144px;
  top: 139px;
  font-size: 20px;
}

.voltar-catalogo, .finalizar-compra {
  display: flex;
  background: #0084ff;
  width: 100%;
  height: 29px;
  font-size: 21px;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.x-button {
  display: flex;
  position: relative;
  left: 0px;
  top: 1px;
  font-size: 30px;
  border-radius: 32px;
  height: 33px;
  width: 33px;
}

.div-xbutton {
  justify-content: center;
  display: flex;
  position: fixed;
  left: 1317px;
  top: 163px;
  height: 45px;
  width: 45px;
}

.tela-pagamento {
  display: flex;
  background: white;
  width: 610px;
  height: 790px;
  border-radius: 5px;
  box-shadow: 2px 4px 20px 0px #1c181826;
}

.tela-form2 {
  background-color: white;
  height: 506px;
  width: 36%;
  border-radius: 5px;
  font-size: 23px;
  padding: 1rem;
  box-shadow: 2px 3px 7px 0px #00000033;
}

.font {
  font-size: 27px;
}

.deletar {
  display: flex;
  /* position: relative; */
  right: 20px;
  top: 8px;
  background: white;
  height: 30px;
  width: 70px;
  align-items: center;
  padding: 0.5rem;
  border-radius: 3px;
  cursor: pointer;
}

.deletar:hover {
  background-color: #0084ff;
  color: white;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.valorun {
  display: flex;
  position: relative;
  right: 20px;
}

.gerencial {
  display: flex;
  background: #0084ff;
  color: white;
  width: 76px;
  height: 25px;
  align-items: center;
  padding: 0.5rem;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid white;
}

.gerente {
  display: flex;
  position: relative;
  right: 117px;
  width: 80px;
  height: 25px;
}

.error{
  color: white;
  background-color: red;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 5px;
}

.cadastro-de-produtos {
  background: #0084ff;
  color: white;
  width: 107%;
  border-radius: 9px 9px 9px 9px;
  position: relative;
  left: -23px;
  bottom: -4px;
}

.footer-finalizacao, .footer-pagamento {
  display: flex;
  bottom: 86px;
  background: blue;
  width: 159px;
  height: 21px;
  justify-content: center;
  border-radius: 5px;
  padding: 1rem;
  min-width: 172px;
  cursor: pointer;
  align-items: center;
  box-shadow: 1px 1px 4px #00000059;
  font-size: 14px;
  align-items: center;
  color: white;
}

.button-finalizacao {
  background: white;
  font-size: 16px;
  border-radius: 1rem;
}

.button-finalizacao:hover, .footer-finalizacao:hover, .footer-pagamento:hover  {
  background-color: red;
  color:black;
}

.alert {
  display: flex;
  position: absolute;
  color: white;
  width: 241px;
  right: 832px;
  background: red;
  top: 108px;
  border-radius: 6px;
  padding: 1rem;
  align-items: center;
}

.historico {
  display: flex;
  right: 103px;
  bottom: 25px;
  width: 190px;
  justify-content: center;
  background: #ffb954;
  color: black;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: sans-serif;
  font-size: 15px;
}

.campo-hist {
  background: white;
  display: flex;
  width: 1171px;
  height: 148px;
  margin-left: 16rem;
  position: absolute;
  margin-top: 5.7rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px #00000033;
}

.campo-historico {
  background: white;
  display: flex;
  width: 1171px;
  height: 148px;
  margin-left: 16rem;
  /* position: absolute; */
  margin-top: 1.7rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px #00000033;
}

.historico-fim {
  display: flex;
  position: relative;
  top: 60px;
  right: 22%;
  width: 125%;
}

.nowrap {
  white-space: nowrap;
}

.buttonhistorico {
  width: 15px;
  font-size: 23px;
  background: white;
  cursor: pointer;
  margin-left: 1rem;
  padding: 0px 15px 0px 0px;
}

.info-historico {
  background: white;
  position: fixed;
  width: 321px;
  height: 230px;
  display: flex;
  left: 1455px;
  top: 247px;
  border-radius: 1.5rem;
  box-shadow: 0px 0px 10px #00000033;
  padding: 1rem;
}

.voltarHistorico {
  width: 100%;
  height: 30px;
  justify-content: center;
  border: solid 1px blue;
  border-radius: 7px;
  cursor: pointer;
}

.voltarHistorico:hover {
  background-color: blue;
  color: white;
  border-radius: 7px;
}

.telaPagamentoFinalizacao {
  display: flex;
  background: white;
  width: 610px;
  height: 100%;
  border-radius: 5px;
  box-shadow: 4px 7px 10px 2px #1c181852;
  margin-top: -15rem;
}

.radio {
  border-radius: 5px;
  border: 1px solid #dee2e6;
  cursor: pointer;
  align-items: center;
  display: flex;
  padding: 1.2rem 0 1.2rem 4rem;
  margin: 0.5rem 0;
  position: relative;
  outline: 0;
  background-color: #fff;
  border: 2px solid #ff5596 !important;
}

.radio:checked:before, .checkbox:checked:before {
  border: 2px solid #ff5596 !important;
  opacity: 1;
}

.radio:before {
  opacity: 1;
  transition: all 400ms ease-in-out;
  border: 2px solid #ff5596 !important;
}

.telaCartaoFinalizacao{
  background: #f6f6f6;
  width: 610px;
  height: 294px;
  display: flex;
  margin-top: 1rem;
  border-radius: 5px;
  padding: 2rem;
  box-shadow: 4px 7px 10px 2px #1c181852;
}

.tela-cartao {
  display: flex;
  width: 100%;
  height: 108px;
  justify-content: center;
  background: #f6f6f6;
}

.cartao-tela {
  height: 105px;
  width: 171px;
}

.tamanhoinput {
  height: 25px;
  border-radius: 5px;
  padding: 0.3rem;
}

.sublinhado {
  font-size: 20px;
  text-decoration: underline;
}

.swiper-banner {
  max-height: 380px;
}

.lupa {
  display: flex;
  align-items: center;
  position: relative;
  right: 54px;
  top: 9px;
  cursor: pointer;
}

.mainAppBlade {
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
  height: 100% !important;
  min-height: 100vh !important;
  margin-left: 0px !important;
  transition: all 300ms ease !important;
  /* background-image: url(../storage/banners/fundo.jpg)!important; */
}

.box-login {
  background-color: white;
  width: 900px;
  height: 501px;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px #0000002e;
}

.clearfix {
  position: fixed;
  right: 470px;
  bottom: 24rem;
}

.imgproduto {
  max-width: 250px;
  width: 100%;
  height: 185px;
  box-shadow: 0px 0px 10px 0px #0000002e;
  margin-top: 1rem;
  object-fit: contain;
}

.footer-ecommerce{
  position: relative;
  width: 100%;
  height: 70px;
  background-color: #343a40;
  box-shadow: 1px 5px 10px 0px #0000002e;
}

.slide-group{
  position: relative;
  align-items: center;
  display: flex;
  overflow: hidden;
  width: 100%;
  padding: 2rem 0;
}

.slide-group .swipper-wrapper {
  column-gap: 10px;
}

.slide-group .swipper-wrapper .swiper-slide {
  overflow: hidden;
}

.box-quantidade{
  height: 30px;
  background-color: white;
  width: 100%;
  border: 1px solid #ede2e2;
  display: flex;
}

.mais {
  width: 25px;
  font-size: 20px;
  cursor: pointer;
}