table:not(.table-condensed){
    width:100%;
    border-collapse: collapse !important;
    border: 1px solid #0095ff40;
}
table:not(.table-condensed):not(.tableClean) thead{
    color: #fff;
    font-size: 14.5px;
}
table:not(.table-condensed) thead tr, 
table:not(.table-condensed) thead tr th{
    color: inherit;
    height: 45px;
    vertical-align: middle;
}

table:not(.table-condensed):not(.tableClean):not(#tableGradeCadastradas):not(#tableGradeAssociadas) thead tr th{
    top: 0px;
    background-color: #343a40;    
}

table:not(.table-condensed):not(.tableClean) thead tr th {
    padding: 5px 30px;
    font-weight: normal;
}

table:not(.table-condensed):not(.tableClean) tbody tr td {
    padding: 5px 15px;
}

table:not(.table-condensed) tbody{
    background-color: #fff;
    font-size: 13px;
}

table:not(.table-condensed) tbody tr {
    transition: background 500ms linear;     
}

table:not(.table-condensed) tbody tr, 
table:not(.table-condensed) tbody tr td{
    height: 41px;
    vertical-align: middle;
    position: relative;    
}

table:not(.table-condensed) tbody tr td .form-group{
    margin-bottom: 0rem;
}

table:not(.table-condensed) tbody tr td .form-group fieldset.input{
    background-color: #fff;
    margin: 5px 0px;
}

table:not(.table-condensed):not(.tableClean) tbody tr td *:not(section):not(li):not(p):not(:first-child):not(.dropdown-item):not(label):not(label *):not(.input-arrow-up):not(.input-arrow-down){margin-left: .5rem}
table:not(.table-condensed) tbody tr:not(:last-of-type){
    border-bottom: 1px solid #0095ff40;
}
table:not(.table-condensed) tbody tr:hover > td:first-of-type{position: relative;}
table:not(.table-condensed) tbody tr td button{position: relative;}
table:not(.table-condensed) tbody tr td button section{
    position: absolute;
    background-color: #03202ee0;
    border-radius: 5px;
    min-width: 200px;
    top: 30px;
    top: calc(100% + 10px);
    right: -20px;
    z-index: 153;
    opacity: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    pointer-events: none;
    transform: scale(0);
    transition: all 300ms ease;         
}

table:not(.table-condensed) tbody tr td button section::before{
    content: '';
    position: absolute;
    border: 7px solid transparent;
    border-bottom: 7px solid #03202ee0;
    bottom: 100%;
    right: 21.5px;
}

table:not(.table-condensed) tbody tr td button section[aria-hidden="false"]{
    opacity: 1;
    pointer-events: all;    
    transform: scale(1);
}
table:not(.table-condensed) tbody tr td button section ul li a{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
/* table:not(.table-condensed) tbody tr td button section ul li:not(:last-of-type){border-bottom: 1px solid #e4e4e4;} */
table:not(.table-condensed) tbody tr td button section ul li a:hover{
    background-color: #00a5e7;
    color: #fff;
}
.pagination{
    display: flex;
    padding-left: 0px;
    border-radius: .25rem;
    font-size: 13px;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}
.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
.page-link:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #0095FF;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-item:last-child .page-link {
    margin-right: 0;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #0095FF;
    border-color: #0095FF;
}
.page-link:hover {
    z-index: 3;
    color: #fff;
    background-color: #0095FF;
    border-color: #0095FF;
}

@media only screen and (max-width: 540px) {
    table.responsive, .responsive thead, .responsive tbody, .responsive th, .responsive td, .responsive tr{display: block}
    .responsive thead{height: 0px !important;}
    .responsive thead tr{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .responsive tbody tr{
        margin: 0rem 0rem 2rem 0rem;
        height: auto !important;
        border-bottom: none !important;
    }
    .responsive tr td:first-child{background: #0095ff40;}    
    .responsive td{
        border: none;
        padding-left: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        text-align: start !important;
    }
    .responsive td::before{
        content: attr(data-coluna);
        top: 0px;
        left: 0px;
        width: 100%;
        padding-right: 10px;
        white-space: nowrap;
        display: flex;
    }
}

.DTFC_RightBodyLiner{
    overflow-y: unset !important;
    width: 100% !important;
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
}
.DTFC_RightBodyWrapper{
    overflow: unset !important;
}

.dataTables_scrollBody::-webkit-scrollbar {
    height: 10px;
    background-color: #0095ff40;
    border-radius: 5px;
    border: 1px solid #dee2e6;
    cursor: pointer;
}
.dataTables_scrollBody::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #0098da;
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);
    -webkit-box-shadow: inset 0 0 6px #00a5e7;
}
.dataTables_scrollBody{
    scrollbar-color:#0098da #0095ff40;
    scrollbar-width: inherit;
    scrollbar-shadow-color: 0 0.125rem 0.25rem rgba(0,0,0,.075);
}

.DTFC_RightBodyLiner{
    padding-right: 0 !important;
}

table.dataTable{
    margin-top: 0!important;
    margin-bottom: 0!important;
}

.box-table {
    width: 100%;
}

.box-table table:first-of-type {
    border-collapse: separate !important;
    border-spacing: unset;
}

/* .box-table table:first-child tr:first-of-type > :first-child{border-top-left-radius: 5px;}
.box-table table:first-child tr:first-of-type > :last-child{border-top-right-radius: 5px;} */
.box-table table:first-child thead ~ tbody tr:first-of-type > :first-child{border-top-left-radius: 0px;}
.box-table table:first-child thead ~ tbody tr:first-of-type > :last-child{border-top-right-radius: 0px;}
/* .box-table table:first-child tr:last-child td:first-child{border-bottom-left-radius: 5px;}
.box-table table:first-child tr:last-child td:last-child{border-bottom-right-radius: 5px;} */
.box-table table:first-child tr:last-child{border-bottom: none;}
.box-table table:first-child tr:first-child td{border-top: 1px solid #0095ff40;}
.box-table table:first-child tr:last-child td{border-bottom: 1px solid #0095ff40;}
.box-table table:first-child tr > :first-child{border-left: 1px solid #0095ff40;}
.box-table table:first-child tr > :last-child{border-right: 1px solid #0095ff40;}

/* .box-table table:last-child tr:first-child th:last-child{border-top-right-radius: 5px;} */
.box-table table:last-child tr:last-child td:last-child{border-bottom-left-radius: 0px;}

.box-table table th,
.box-table table td{
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #0095ff40;   
    box-sizing: content-box;
}

table.dataTable {
    margin-top: 0!important;
    margin-bottom: 0!important;
}
table:not(.table-condensed) {
    border: none;
}

.box-table table:last-child{
    right: -1px;
}

.DTFC_NoData > td {
    width: 10%;
}
table tbody tr:hover {
    background-color: #0095ff0a;
}

.table-pesquisa {
    display: flex;
    justify-content: flex-end;
}

.table-pesquisa .form-group {
    width: 300px;
}

.tableClean thead tr, .tableClean thead tr th{
    font-size: 14px;
    /* height: 30px !important; */
}

/* .tableClean:first-child tr:last-child td:first-child{border-bottom-left-radius: 5px;}
.tableClean:first-child tr:last-child td:last-child{border-bottom-right-radius: 5px;}

.tableClean:first-child tr:first-child td:first-child{border-top-left-radius: 5px;}
.tableClean:first-child tr:first-child td:last-child{border-top-right-radius: 5px;} */

@media only screen and (max-width: 425px) {
    .table-pesquisa .form-group {
        width: 100%;
    }
}


/* DAQUI PRA BAIXO VUETIFY */

.v-pagination {
    align-items: center;
    display: inline-flex;
    list-style-type: none;
    justify-content: center;
    margin: 0;
    max-width: 100%;
    width: 100%;
}

.v-pagination.v-pagination {
    padding-left: 0;
}

.v-pagination>li {
    align-items: center;
    display: flex;
}

.v-pagination--circle .v-pagination__item, .v-pagination--circle .v-pagination__more, .v-pagination--circle .v-pagination__navigation {
    border-radius: 50%;
}

.v-pagination__navigation--disabled {
    opacity: .6;
    pointer-events: none;
}

.v-pagination__navigation {
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    border-radius: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 32px;
    width: 32px;
    margin: .3rem 10px;
}

.v-data-table__empty-wrapper {
    text-align: center;
}

.theme--light.v-pagination .v-pagination__item {
    background: #fff;
    color: #0095ff;
}

.theme--light.v-pagination .v-pagination__item--active {
    color: #fff;
    background-color: #0095ff;
}

.v-pagination__item--active {
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
}

.v-pagination__item {
    background: transparent;
    border-radius: 4px;
    font-size: 1rem;
    height: 34px;
    margin: .3rem;
    min-width: 34px;
    padding: 0 5px;
    text-decoration: none;
    transition: .3s cubic-bezier(0,0,.2,1);
    width: auto;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.theme--light.v-pagination .v-pagination__navigation {
    background: #fff;
}

.v-data-table-header th.sortable {
    pointer-events: auto;
    cursor: pointer;
    outline: 0;
}

.v-data-table-header__icon {
    display: inline-block;
    opacity: 0;
    transition: .3s cubic-bezier(.25,.8,.5,1);
}

.v-pagination__navigation .v-icon {
    transition: .2s cubic-bezier(.4,0,.6,1);
    vertical-align: middle;
}

.v-icon.v-icon {
    align-items: center;
    display: inline-flex;
    font-feature-settings: "liga";
    font-size: 24px;
    justify-content: center;
    letter-spacing: normal;
    line-height: 1;
    position: relative;
    text-indent: 0;
    transition: .3s cubic-bezier(.25,.8,.5,1),visibility 0s;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mdi:before, .mdi-set {
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.v-icon.v-icon:after {
    background-color: currentColor;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: scale(1.3);
    width: 100%;
    transition: opacity .2s cubic-bezier(.4,0,.6,1);
}

.v-icon__svg {
    fill: currentColor;
}

.v-icon__component, .v-icon__svg {
    height: 24px;
    width: 24px;
}

.theme--light.v-icon {
    color: #0095FF;
}

.theme--light.v-data-table .v-data-table-header th.sortable .v-data-table-header__icon {
    color: #0095FF;
}

.v-data-table-header th.active .v-data-table-header__icon, .v-data-table-header th:hover .v-data-table-header__icon {
    transform: none;
    opacity: 1;
}

.v-data-table-header th.sortable .v-data-table-header__icon {
    line-height: .9;
}

.v-data-table-header th.desc .v-data-table-header__icon {
    transform: rotate(-180deg);
}

.box-table table.v-table th,
.box-table table.v-table td{
    vertical-align: middle;
}

@media screen and (max-width: 768px) {
    .mobile table.v-table tr {
        max-width: 100%;
        position: relative;
        display: block;
        height: auto;
    }

    .mobile table.v-table tr:nth-child(odd) {
        background-color: #f7f7f7;
    }

    .mobile table.v-table tr:not(:last-of-type) {
        margin-bottom: 1rem;
    }

    .mobile table.v-table tr td {
        display: flex;
        width: 100%;
        height: auto;
        padding: 10px;
        border-bottom: none !important;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
    }

    .mobile table.v-table tr td ul:not(.table-acao) {
        width: 100%;
        padding-left: 1rem;
    }

    .mobile table.v-table tr td ul li {
        display: flex;
    }

    .mobile table.v-table tr td::before {
        content: '';
        width: 3px;
        height: 100%;
        top: 0px;
        display: block;
        position: absolute;
    }

    .mobile table.v-table tr td ul li:not([data-label]) {
        justify-content: flex-end;
    }

    .mobile table.v-table tr td ul li[data-label]:before {
        content: attr(data-label)':';
        padding-right: .5em;
        text-align: left;
        display: block;
        color: #999;

    }

    .mobile table.v-table tr td ul li:not(:last-of-type) {
        margin-bottom: 1rem;
    }

    .mobile table.v-table tr:not(:last-of-type) {
        border-bottom: none;
    }

    .v-datatable__actions__select
    {
        width: 50%;
        margin: 0px;
        justify-content: flex-start;
    }

    .v-data-table.mobile .theme--light tbody tr:hover:not(.v-datatable__expand-row) {
        background: transparent;
    }

}

@media screen and (max-width: 450px) {
    .mobile table.v-table tr td ul li {
        flex-direction: column;
    }
}

/* FIM VUETIFY */

/* .tableGradeCadastradas > thead > tr > th{
    background-color: white;
} */